In [1]:
# Importamos pandas y numpy
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats

In [2]:
#Expecificamos ruta

url = r'Gastos_Trasnporte.csv'

In [3]:
gasto_transporte_df = pd.read_csv(url, sep=';', encoding='latin-1')

In [4]:
#Imprimimos el df

gasto_transporte_df

,Comunidades y Ciudades Autónomas,Sectores de actividad,Tipo de indicador,Componentes del coste,Periodo,Total
0,01 Andalucía,Industria,Valor absoluto,Gastos en transporte,2023,"22,59"
1,01 Andalucía,Industria,Valor absoluto,Gastos en transporte,2022,"19,65"
2,01 Andalucía,Industria,Valor absoluto,Gastos en transporte,2021,"17,36"
3,01 Andalucía,Industria,Valor absoluto,Gastos en transporte,2020,"17,02"
4,01 Andalucía,Industria,Valor absoluto,Gastos en transporte,2019,"22,43"
...,...,...,...,...,...,...
301,"17 Rioja, La",Servicios,Valor absoluto,Gastos en transporte,2022,"1,10"
302,"17 Rioja, La",Servicios,Valor absoluto,Gastos en transporte,2021,"6,09"
303,"17 Rioja, La",Servicios,Valor absoluto,Gastos en transporte,2020,"7,84"
304,"17 Rioja, La",Servicios,Valor absoluto,Gastos en transporte,2019,"1,86"
305,"17 Rioja, La",Servicios,Valor absoluto,Gastos en transporte,2018,"2,48"

In [5]:
#Renombrar columnas
gasto_transporte_df = gasto_transporte_df.rename(columns={'Comunidades y Ciudades Autónomas': 'Comunidades_Autonomas', 'Sectores de actividad': 'Sector', 'Componentes del coste': 'Tipo_Coste'})

In [6]:
#Eliminar columnas innecesarias
gasto_transporte_df = gasto_transporte_df.drop(columns=['Tipo de indicador'])

In [7]:
gasto_transporte_df['Comunidades_Autonomas'].unique()

array(['01 Andalucía', '02 Aragón', '03 Asturias, Principado de',
       '04 Balears, Illes', '05 Canarias', '06 Cantabria',
       '07 Castilla y León', '08 Castilla - La Mancha', '09 Cataluña',
       '10 Comunitat Valenciana', '11 Extremadura', '12 Galicia',
       '13 Madrid, Comunidad de', '14 Murcia, Región de',
       '15 Navarra, Comunidad Foral de', '16 País Vasco', '17 Rioja, La'],
      dtype=object)

In [14]:
# Quitamos el número en las comunidades 
# Eliminar los dos dígitos y el espacio al inicio de cada valor en la columna
gasto_transporte_df['Comunidades_Autonomas'] = gasto_transporte_df['Comunidades_Autonomas'].str.replace(r'^\d{2} ', '', regex=True)
gasto_transporte_df

    Comunidades_Autonomas     Sector            Tipo_Coste  Periodo  Total
0               Andalucía  Industria  Gastos en transporte     2023  22.59
1               Andalucía  Industria  Gastos en transporte     2022  19.65
2               Andalucía  Industria  Gastos en transporte     2021  17.36
3               Andalucía  Industria  Gastos en transporte     2020  17.02
4               Andalucía  Industria  Gastos en transporte     2019  22.43
..                    ...        ...                   ...      ...    ...
301             Rioja, La  Servicios  Gastos en transporte     2022   1.10
302             Rioja, La  Servicios  Gastos en transporte     2021   6.09
303             Rioja, La  Servicios  Gastos en transporte     2020   7.84
304             Rioja, La  Servicios  Gastos en transporte     2019   1.86
305             Rioja, La  Servicios  Gastos en transporte     2018   2.48

[306 rows x 5 columns]

In [8]:
# Muestra los tipos de datos de cada columna
print(gasto_transporte_df.dtypes)

Comunidades_Autonomas    object
Sector                   object
Tipo_Coste               object
Periodo                   int64
Total                    object
dtype: object

In [ ]:
# Reemplazar comas por puntos y convertir a tipo numérico
gasto_transporte_df['Total'] = gasto_transporte_df['Total'].str.replace(',', '.').astype(float)

In [10]:
print(gasto_transporte_df.head())

  Comunidades_Autonomas     Sector            Tipo_Coste  Periodo  Total
0          01 Andalucía  Industria  Gastos en transporte     2023  22.59
1          01 Andalucía  Industria  Gastos en transporte     2022  19.65
2          01 Andalucía  Industria  Gastos en transporte     2021  17.36
3          01 Andalucía  Industria  Gastos en transporte     2020  17.02
4          01 Andalucía  Industria  Gastos en transporte     2019  22.43

In [11]:
# Contar las filas duplicadas
duplicados = gasto_transporte_df.duplicated().sum()
print(f"Número de filas duplicadas: {duplicados}")

Número de filas duplicadas: 0

In [12]:
# Contar los valores nulos en cada columna
nulos = gasto_transporte_df.isnull().sum()
print("Número de valores nulos en cada columna:")
print(nulos)

Número de valores nulos en cada columna:
Comunidades_Autonomas    0
Sector                   0
Tipo_Coste               0
Periodo                  0
Total                    0
dtype: int64

In [13]:
gasto_transporte_df.to_csv(r'C:\Users\Andre\OneDrive\Documents\GitHub\Group-7\Group-7\Gastos_Transporte.csv', index=False, encoding='utf-8')