In [59]:
# Importamos pandas y numpy
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats

In [60]:
#Expecificamos ruta

url = r'https://raw.githubusercontent.com/cdeniaca/Group-7/76322e4482f3f9e2d42538a322aeb517e693a958/Poblacion_Activa.csv'

In [61]:
#Cargamos el df

población_activa_df = pd.read_csv(url, sep=';')

In [ ]:
#Imprimimos el df

print(población_activa_df)

In [ ]:
# Muestra los tipos de datos de cada columna
print(población_activa_df.dtypes)

In [64]:
# Reemplazamos el punto por una cadena vacía para eliminar el separador de miles
población_activa_df['Total'] = población_activa_df['Total'].str.replace('.', '', regex=False)

# Reemplazamos la coma por un punto para que pandas pueda interpretarlo como decimal
población_activa_df['Total'] = población_activa_df['Total'].str.replace(',', '.', regex=False)

In [ ]:
# Convertimos la columna a tipo numérico
población_activa_df['Total'] = pd.to_numeric(población_activa_df['Total'], errors='coerce')

# Verificamos el resultado
print(población_activa_df['Total'].head())

In [66]:
# Asegúrate de que la columna 'Total' exista en tu DataFrame
if 'Total' in población_activa_df.columns:
    población_activa_df['Total'] = población_activa_df['Total'] * 1000
else:
    print("La columna 'Total' no se encuentra en el DataFrame.")

In [67]:
# Crear una columna 'AÑO' con los primeros 4 caracteres de 'Periodo'
población_activa_df['AÑO'] = población_activa_df['Periodo'].str[:4]

# Crear una columna 'Trimestre' con los caracteres restantes de 'Periodo'
población_activa_df['Trimestre'] = población_activa_df['Periodo'].str[4:]

# Crear una columna 'Trimestre' con los caracteres restantes de 'Tip'

In [68]:
# Filtrar el DataFrame para que solo contenga los años de 2018 a 2023
años_filtrados = ['2018', '2019', '2020', '2021', '2022', '2023']
población_activa_df = población_activa_df[
    población_activa_df['AÑO'].isin(años_filtrados) &
    (población_activa_df['Comunidad autónoma'] != 'Total Nacional') &
    (población_activa_df['Relación con la actividad en el trimestre actual'] != 'Total (trimestre actual)') &
    (población_activa_df['Relación con la actividad en el trimestre anterior'] == 'Total (trimestre anterior)')
]

In [69]:
# Usa apply() con una función lambda para separar y quedarte solo con la segunda parte de la cadena
población_activa_df['Comunidad autónoma'] = población_activa_df['Comunidad autónoma'].apply(lambda x: x.split(' ', 1)[1] if ' ' in x else x)

In [ ]:
población_activa_df

In [ ]:
# Contar las filas duplicadas
duplicados = población_activa_df.duplicated().sum()
print(f"Número de filas duplicadas: {duplicados}")

In [ ]:
# Contar los valores nulos en cada columna
nulos = población_activa_df.isnull().sum()
print("Número de valores nulos en cada columna:")
print(nulos)

In [ ]:
# Filtrar las filas que tienen al menos un valor nulo
filas_nulas = población_activa_df[población_activa_df.isnull().any(axis=1)]

# Mostrar las filas con valores nulos
print("Filas con valores nulos:")
print(filas_nulas)

In [ ]:
print(población_activa_df['Comunidad autónoma'].unique())

In [ ]:
print(población_activa_df['Relación con la actividad en el trimestre actual'].unique())

In [ ]:
# Comprobar duplicados en las combinaciones de índice
duplicados = población_activa_df.duplicated(subset=['Periodo', 'Comunidad autónoma', 'AÑO', 'Trimestre', 'Relación con la actividad en el trimestre actual'], keep=False)
if duplicados.any():
    print("Hay duplicados en los datos:")
    print(población_activa_df[duplicados])
else:
    print("No hay duplicados, puedes usar pivot() sin problemas.")

In [77]:
# Eliminar duplicados
población_activa_df = población_activa_df.drop_duplicates(subset=['Periodo', 'Comunidad autónoma', 'AÑO', 'Trimestre', 'Relación con la actividad en el trimestre actual'])

In [ ]:
print(población_activa_df['Relación con la actividad en el trimestre actual'].unique())

In [79]:
# Crear un DataFrame pivotado
df_pivot = pd.pivot_table(
    población_activa_df,
    index=['Periodo', 'Comunidad autónoma', 'AÑO', 'Trimestre'],  # Índices de filas
    columns='Relación con la actividad en el trimestre actual',  # Nuevas columnas
    values='Total',  # Valores a pivotar
    aggfunc='sum',  # Función de agregación
    fill_value=0  # Opcional: reemplaza valores NaN por 0
)

In [80]:
# Restablecer el índice para convertirlo en columnas regulares
df_pivot_reset = df_pivot.reset_index()

In [ ]:
# Imprimir las columnas para verificar los nombres
print(df_pivot_reset.columns)

In [82]:
df_pivot = df_pivot_reset

In [ ]:
df_pivot

In [84]:
# Renombrar las columnas específicas en el DataFrame
df_pivot = df_pivot.rename(columns={
    'Inactivos (trimestre actual)': 'Inactivos',
    'Ocupados (trimestre actual)': 'Ocupados',
    'Parados (trimestre actual)': 'Parados'
})

In [85]:
# Crear la nueva columna "Total Actividad" 
df_pivot['Total Actividad'] = (
    df_pivot['Inactivos'].fillna(0) +  # Considerar nulos como 0
    df_pivot['Ocupados'].fillna(0) +   # Considerar nulos como 0
    df_pivot['Parados'].fillna(0)      # Considerar nulos como 0
)

In [86]:
df_pivot

Relación con la actividad en el trimestre actual,Periodo,Comunidad autónoma,AÑO,Trimestre,Inactivos,Ocupados,Parados,Total Actividad
0,2018T1,Andalucía,2018,T1,2965500.0,2967700.0,975700.0,6908900.0
1,2018T1,Aragón,2018,T1,457300.0,561100.0,73500.0,1091900.0
2,2018T1,"Asturias, Principado de",2018,T1,439500.0,387900.0,68600.0,896000.0
3,2018T1,"Balears, Illes",2018,T1,381800.0,488700.0,103100.0,973600.0
4,2018T1,Canarias,2018,T1,737400.0,879500.0,228400.0,1845300.0
...,...,...,...,...,...,...,...,...
451,2023T4,Melilla,2023,T4,29000.0,26100.0,11200.0,66300.0
452,2023T4,"Murcia, Región de",2023,T4,526800.0,678500.0,87800.0,1293100.0
453,2023T4,"Navarra, Comunidad Foral de",2023,T4,233500.0,302800.0,30900.0,567200.0
454,2023T4,País Vasco,2023,T4,815200.0,1024200.0,69800.0,1909200.0
455,2023T4,"Rioja, La",2023,T4,115300.0,144400.0,15500.0,275200.0

In [87]:
#Dataframe Ocupados

In [88]:
print(df_pivot.columns)

Index(['Periodo', 'Comunidad autónoma', 'AÑO', 'Trimestre', 'Inactivos',
       'Ocupados', 'Parados', 'Total Actividad'],
      dtype='object', name='Relación con la actividad en el trimestre actual')

In [89]:
# Seleccionar las columnas deseadas de df_pivot
df_nuevo = df_pivot[['Comunidad autónoma', 'AÑO', 'Ocupados', 'Parados', 'Inactivos', 'Total Actividad']]

In [90]:
df_nuevo

Relación con la actividad en el trimestre actual,Comunidad autónoma,AÑO,Ocupados,Parados,Inactivos,Total Actividad
0,Andalucía,2018,2967700.0,975700.0,2965500.0,6908900.0
1,Aragón,2018,561100.0,73500.0,457300.0,1091900.0
2,"Asturias, Principado de",2018,387900.0,68600.0,439500.0,896000.0
3,"Balears, Illes",2018,488700.0,103100.0,381800.0,973600.0
4,Canarias,2018,879500.0,228400.0,737400.0,1845300.0
...,...,...,...,...,...,...
451,Melilla,2023,26100.0,11200.0,29000.0,66300.0
452,"Murcia, Región de",2023,678500.0,87800.0,526800.0,1293100.0
453,"Navarra, Comunidad Foral de",2023,302800.0,30900.0,233500.0,567200.0
454,País Vasco,2023,1024200.0,69800.0,815200.0,1909200.0
455,"Rioja, La",2023,144400.0,15500.0,115300.0,275200.0

In [91]:
# Agrupar por "AÑO" y "Comunidad autónoma" y calcular la media de "Ocupados" y "Total Actividad"
df_nuevo_agrupado = df_nuevo.groupby(['AÑO', 'Comunidad autónoma']).mean().reset_index()

In [92]:
df_nuevo_agrupado

Relación con la actividad en el trimestre actual,AÑO,Comunidad autónoma,Ocupados,Parados,Inactivos,Total Actividad
0,2018,Andalucía,3030750.0,904625.0,2983100.0,6918475.0
1,2018,Aragón,573825.0,68250.0,452275.0,1094350.0
2,2018,"Asturias, Principado de",391900.0,61750.0,439825.0,893475.0
3,2018,"Balears, Illes",560175.0,72925.0,349600.0,982700.0
4,2018,Canarias,897200.0,225325.0,735800.0,1858325.0
...,...,...,...,...,...,...
109,2023,Melilla,26775.0,9725.0,29375.0,65875.0
110,2023,"Murcia, Región de",668625.0,97950.0,519850.0,1286425.0
111,2023,"Navarra, Comunidad Foral de",298725.0,33000.0,232575.0,564300.0
112,2023,País Vasco,995750.0,83375.0,818725.0,1897850.0
113,2023,"Rioja, La",146625.0,15150.0,112600.0,274375.0

In [93]:
df_nuevo_agrupado.to_csv('Poblacion_Ocupada_Agrupado.csv', index=False)

In [94]:
df_pivot.to_csv('Poblacion_Activa_Limpia.csv', index=False)

In [95]:
#################################### NUEVO CSV #####################################################################

In [96]:
#Expecificamos ruta

url_teletrabajo = r'https://raw.githubusercontent.com/cdeniaca/Group-7/refs/heads/main/Poblacion_Teletrabajo.csv'

In [97]:
#Cargamos el df

población_teletrabajo_df = pd.read_csv(url_teletrabajo, sep=';')

In [98]:
# Reemplazamos el punto por una cadena vacía para eliminar el separador de miles
población_teletrabajo_df['Total'] = población_teletrabajo_df['Total'].str.replace('.', '', regex=False)

# Reemplazamos la coma por un punto para que pandas pueda interpretarlo como decimal
población_teletrabajo_df['Total'] = población_teletrabajo_df['Total'].str.replace(',', '.', regex=False)

In [99]:
# Convertimos la columna a tipo numérico
población_teletrabajo_df['Total'] = pd.to_numeric(población_teletrabajo_df['Total'], errors='coerce')

In [100]:
población_teletrabajo_df['Comunidades y Ciudades Autónomas'] = población_teletrabajo_df['Comunidades y Ciudades Autónomas'].apply(
    lambda x: x[1:] if x.startswith(' ') else x
)

In [101]:
población_teletrabajo_df['Teletrabajo'] = población_teletrabajo_df['Teletrabajo'].apply(
    lambda x: x[1:] if x.startswith(' ') else x
)

In [102]:
# Muestra los tipos de datos de cada columna
print(población_teletrabajo_df.dtypes)

Año                                   int64
Comunidades y Ciudades Autónomas     object
Teletrabajo                          object
Total                               float64
dtype: object

In [103]:
# Elimina filas donde 'Total' tenga NaN
población_teletrabajo_df = población_teletrabajo_df.dropna(subset=['Total'])

In [104]:
población_teletrabajo_df.rename(columns={'Comunidades y Ciudades Autónomas': 'Comunidad autónoma'}, inplace=True)

In [105]:
población_teletrabajo_df.rename(columns={'Año': 'AÑO'}, inplace=True)

In [106]:
print(población_teletrabajo_df['Comunidad autónoma'].unique())

['Andalucía' 'Aragón' 'Asturias, Principado de' 'Balears, Illes'
 'Canarias' 'Cantabria' 'Castilla y León' 'Castilla - La Mancha'
 'Cataluña' 'Comunitat Valenciana' 'Extremadura' 'Galicia'
 'Madrid, Comunidad de' 'Murcia, Región de' 'Navarra, Comunidad Foral de'
 'País Vasco' 'Rioja, La' 'Ceuta' 'Melilla' 'Castilla-La Mancha']

In [107]:
print(población_teletrabajo_df['Teletrabajo'].unique())

['Han teletrabajado'
 'No han teletrabajado aunque su trabajo les permitiría teletrabajar'
 'No han teletrabajado porque su trabajo no les permitiría teletrabajar'
 'No han teletrabajado']

In [108]:
# Crear un DataFrame pivotado
df_pivot_teletrabajo = pd.pivot_table(
    población_teletrabajo_df,
    index=['AÑO', 'Comunidad autónoma'],  # Asegúrate de usar el nombre correcto
    columns='Teletrabajo',
    values='Total',
    aggfunc='sum',
    fill_value=0
)

In [109]:
# Restablecer el índice para convertirlo en columnas regulares
df_pivot_teletrabajo = df_pivot_teletrabajo.reset_index()

In [110]:
df_pivot_teletrabajo

Teletrabajo,AÑO,Comunidad autónoma,Han teletrabajado,No han teletrabajado,No han teletrabajado aunque su trabajo les permitiría teletrabajar,No han teletrabajado porque su trabajo no les permitiría teletrabajar
0,2021,Andalucía,19.0,51.3,26.7,102.9
1,2021,Aragón,19.8,41.3,18.3,48.5
2,2021,"Asturias, Principado de",17.1,5.2,27.9,104.7
3,2021,"Balears, Illes",12.4,43.3,27.0,117.3
4,2021,Canarias,22.5,54.8,21.1,38.6
5,2021,Cantabria,10.1,47.5,4.4,111.0
6,2021,Castilla y León,6.9,45.7,22.2,80.2
7,2021,Castilla-La Mancha,12.3,42.8,24.4,120.6
8,2021,Cataluña,36.8,42.6,23.4,97.1
9,2021,Ceuta,9.2,66.3,65.6,58.8
10,2021,Comunitat Valenciana,23.2,5.4,27.1,99.4
11,2021,Extremadura,16.7,49.4,3.9,103.0
12,2021,Galicia,7.2,49.8,20.9,103.9
13,2021,"Madrid, Comunidad de",54.4,42.2,26.0,77.4
14,2021,Melilla,10.2,48.3,6.3,126.2
15,2021,"Murcia, Región de",6.9,46.8,34.2,103.1
16,2021,"Navarra, Comunidad Foral de",18.0,48.2,34.6,99.2
17,2021,País Vasco,20.7,46.7,37.3,95.2
18,2021,"Rioja, La",17.4,41.5,19.1,113.0
19,2022,Andalucía,14.4,46.8,27.3,111.6
20,2022,Aragón,12.3,39.5,29.4,118.8
21,2022,"Asturias, Principado de",11.5,48.5,26.6,113.5
22,2022,"Balears, Illes",11.1,34.0,28.0,82.0
23,2022,Canarias,7.3,44.2,20.9,118.7
24,2022,Cantabria,13.3,4.2,19.4,118.1
25,2022,Castilla - La Mancha,8.4,39.6,25.5,126.4
26,2022,Castilla y León,19.2,42.5,25.0,113.2
27,2022,Cataluña,35.4,37.6,35.9,91.1
28,2022,Ceuta,11.1,51.0,25.5,112.4
29,2022,Comunitat Valenciana,18.0,43.6,35.9,102.4
30,2022,Extremadura,9.1,47.8,27.4,115.8
31,2022,Galicia,13.4,47.7,3.9,45.0
32,2022,"Madrid, Comunidad de",40.3,38.0,17.2,95.6
33,2022,Melilla,6.0,42.3,25.4,54.3
34,2022,"Murcia, Región de",13.5,45.4,34.0,107.1
35,2022,"Navarra, Comunidad Foral de",8.1,36.9,41.1,69.0
36,2022,País Vasco,21.3,43.4,13.6,103.8
37,2022,"Rioja, La",12.2,36.7,31.2,119.9
38,2023,Andalucía,13.2,49.8,3.3,106.6
39,2023,Aragón,14.3,38.8,29.4,117.5
40,2023,"Asturias, Principado de",13.3,46.9,27.1,112.6
41,2023,"Balears, Illes",21.0,38.3,18.8,112.9
42,2023,Canarias,8.0,44.4,13.9,106.8
43,2023,Cantabria,10.2,41.0,24.8,124.0
44,2023,Castilla - La Mancha,7.9,4.8,31.7,119.7
45,2023,Castilla y León,13.3,43.3,26.0,117.4
46,2023,Cataluña,32.0,35.1,29.2,67.7
47,2023,Ceuta,6.6,59.7,10.5,123.2
48,2023,Comunitat Valenciana,21.3,44.1,32.9,101.6
49,2023,Extremadura,13.5,5.2,26.4,110.0
50,2023,Galicia,13.3,44.5,13.1,111.2
51,2023,"Madrid, Comunidad de",39.3,36.3,17.5,97.9
52,2023,Melilla,12.2,44.3,34.4,46.2
53,2023,"Murcia, Región de",11.2,42.5,20.6,116.7
54,2023,"Navarra, Comunidad Foral de",20.3,42.3,20.0,108.5
55,2023,País Vasco,21.6,38.7,39.8,99.8
56,2023,"Rioja, La",12.1,38.8,36.6,112.5

In [111]:
# Convertir la columna 'AÑO' a tipo int en ambos DataFrames, o cambiar a str si prefieres.
df_nuevo_agrupado['AÑO'] = df_nuevo_agrupado['AÑO'].astype(int)
df_pivot_teletrabajo['AÑO'] = df_pivot_teletrabajo['AÑO'].astype(int)

# O convertir ambas a string
# df_nuevo_agrupado['AÑO'] = df_nuevo_agrupado['AÑO'].astype(str)
# población_teletrabajo_df['AÑO'] = población_teletrabajo_df['AÑO'].astype(str)

In [112]:
df_final_teletrabajo = pd.merge(df_nuevo_agrupado, df_pivot_teletrabajo, on=['Comunidad autónoma', 'AÑO'], how='inner')

In [113]:
df_final_teletrabajo

,AÑO,Comunidad autónoma,Ocupados,Parados,Inactivos,Total Actividad,Han teletrabajado,No han teletrabajado,No han teletrabajado aunque su trabajo les permitiría teletrabajar,No han teletrabajado porque su trabajo no les permitiría teletrabajar
0,2021,Andalucía,3152500.0,881400.0,3043700.0,7077600.0,19.0,51.3,26.7,102.9
1,2021,Aragón,588625.0,67800.0,467950.0,1124375.0,19.8,41.3,18.3,48.5
2,2021,"Asturias, Principado de",391475.0,55125.0,439275.0,885875.0,17.1,5.2,27.9,104.7
3,2021,"Balears, Illes",538000.0,89950.0,365450.0,993400.0,12.4,43.3,27.0,117.3
4,2021,Canarias,830425.0,254550.0,790500.0,1875475.0,22.5,54.8,21.1,38.6
5,2021,Cantabria,244975.0,31025.0,223875.0,499875.0,10.1,47.5,4.4,111.0
6,2021,Castilla y León,975975.0,128225.0,960100.0,2064300.0,6.9,45.7,22.2,80.2
7,2021,Cataluña,3490075.0,462075.0,2507400.0,6459550.0,36.8,42.6,23.4,97.1
8,2021,Ceuta,24350.0,11450.0,28600.0,64400.0,9.2,66.3,65.6,58.8
9,2021,Comunitat Valenciana,2076750.0,397875.0,1808600.0,4283225.0,23.2,5.4,27.1,99.4
10,2021,Extremadura,394925.0,99750.0,409525.0,904200.0,16.7,49.4,3.9,103.0
11,2021,Galicia,1087075.0,141825.0,1115475.0,2344375.0,7.2,49.8,20.9,103.9
12,2021,"Madrid, Comunidad de",3146475.0,416450.0,2063125.0,5626050.0,54.4,42.2,26.0,77.4
13,2021,Melilla,29950.0,9600.0,25475.0,65025.0,10.2,48.3,6.3,126.2
14,2021,"Murcia, Región de",638750.0,110200.0,495375.0,1244325.0,6.9,46.8,34.2,103.1
15,2021,"Navarra, Comunidad Foral de",285850.0,34275.0,230200.0,550325.0,18.0,48.2,34.6,99.2
16,2021,País Vasco,946825.0,108575.0,820550.0,1875950.0,20.7,46.7,37.3,95.2
17,2021,"Rioja, La",142500.0,18700.0,108025.0,269225.0,17.4,41.5,19.1,113.0
18,2022,Andalucía,3275750.0,774150.0,3101300.0,7151200.0,14.4,46.8,27.3,111.6
19,2022,Aragón,599850.0,63875.0,466600.0,1130325.0,12.3,39.5,29.4,118.8
20,2022,"Asturias, Principado de",383825.0,54950.0,449000.0,887775.0,11.5,48.5,26.6,113.5
21,2022,"Balears, Illes",575975.0,68425.0,362450.0,1006850.0,11.1,34.0,28.0,82.0
22,2022,Canarias,925200.0,198075.0,775450.0,1898725.0,7.3,44.2,20.9,118.7
23,2022,Cantabria,249150.0,26375.0,228200.0,503725.0,13.3,4.2,19.4,118.1
24,2022,Castilla - La Mancha,871550.0,149500.0,717775.0,1738825.0,8.4,39.6,25.5,126.4
25,2022,Castilla y León,1010050.0,111375.0,944100.0,2065525.0,19.2,42.5,25.0,113.2
26,2022,Cataluña,3593525.0,398000.0,2558525.0,6550050.0,35.4,37.6,35.9,91.1
27,2022,Ceuta,27850.0,12050.0,24850.0,64750.0,11.1,51.0,25.5,112.4
28,2022,Comunitat Valenciana,2216100.0,339800.0,1797550.0,4353450.0,18.0,43.6,35.9,102.4
29,2022,Extremadura,409525.0,85750.0,407675.0,902950.0,9.1,47.8,27.4,115.8
30,2022,Galicia,1103550.0,136900.0,1108625.0,2349075.0,13.4,47.7,3.9,45.0
31,2022,"Madrid, Comunidad de",3218500.0,406600.0,2101775.0,5726875.0,40.3,38.0,17.2,95.6
32,2022,Melilla,27775.0,9600.0,27050.0,64425.0,6.0,42.3,25.4,54.3
33,2022,"Murcia, Región de",650675.0,102250.0,511300.0,1264225.0,13.5,45.4,34.0,107.1
34,2022,"Navarra, Comunidad Foral de",295550.0,31875.0,230175.0,557600.0,8.1,36.9,41.1,69.0
35,2022,País Vasco,967275.0,94250.0,818750.0,1880275.0,21.3,43.4,13.6,103.8
36,2022,"Rioja, La",145775.0,15375.0,109550.0,270700.0,12.2,36.7,31.2,119.9
37,2023,Andalucía,3383850.0,754975.0,3088850.0,7227675.0,13.2,49.8,3.3,106.6
38,2023,Aragón,611300.0,57350.0,472650.0,1141300.0,14.3,38.8,29.4,117.5
39,2023,"Asturias, Principado de",392500.0,54150.0,445125.0,891775.0,13.3,46.9,27.1,112.6
40,2023,"Balears, Illes",589575.0,67850.0,375950.0,1033375.0,21.0,38.3,18.8,112.9
41,2023,Canarias,968425.0,185550.0,775650.0,1929625.0,8.0,44.4,13.9,106.8
42,2023,Cantabria,254850.0,22550.0,228700.0,506100.0,10.2,41.0,24.8,124.0
43,2023,Castilla - La Mancha,895075.0,136275.0,729350.0,1760700.0,7.9,4.8,31.7,119.7
44,2023,Castilla y León,1011375.0,108450.0,953900.0,2073725.0,13.3,43.3,26.0,117.4
45,2023,Cataluña,3734525.0,384450.0,2578225.0,6697200.0,32.0,35.1,29.2,67.7
46,2023,Ceuta,28000.0,12000.0,24450.0,64450.0,6.6,59.7,10.5,123.2
47,2023,Comunitat Valenciana,2304100.0,338125.0,1821125.0,4463350.0,21.3,44.1,32.9,101.6
48,2023,Extremadura,415250.0,87275.0,399450.0,901975.0,13.5,5.2,26.4,110.0
49,2023,Galicia,1128550.0,121450.0,1108800.0,2358800.0,13.3,44.5,13.1,111.2
50,2023,"Madrid, Comunidad de",3328225.0,367850.0,2147775.0,5843850.0,39.3,36.3,17.5,97.9
51,2023,Melilla,26775.0,9725.0,29375.0,65875.0,12.2,44.3,34.4,46.2
52,2023,"Murcia, Región de",668625.0,97950.0,519850.0,1286425.0,11.2,42.5,20.6,116.7
53,2023,"Navarra, Comunidad Foral de",298725.0,33000.0,232575.0,564300.0,20.3,42.3,20.0,108.5
54,2023,País Vasco,995750.0,83375.0,818725.0,1897850.0,21.6,38.7,39.8,99.8
55,2023,"Rioja, La",146625.0,15150.0,112600.0,274375.0,12.1,38.8,36.6,112.5