In [1]:
# Importamos pandas y numpy
import pandas as pd
import numpy as np
import re

In [2]:
#Expecificamos ruta

url = r'https://raw.githubusercontent.com/cdeniaca/Group-7/refs/heads/main/Poblacion_Teletrabajo.csv'

In [3]:
#Cargamos el df

población_teletrabajo_df = pd.read_csv(url, sep=';')

In [4]:
población_teletrabajo_df

,Año,Comunidades y Ciudades Autónomas,Teletrabajo,Total
0,2022,01 Andalucía,Han teletrabajado,5
1,2022,01 Andalucía,No han teletrabajado aunque su trabajo les per...,"9,5"
2,2022,01 Andalucía,No han teletrabajado porque su trabajo no les ...,"38,8"
3,2022,01 Andalucía,No han trabajado,"46,8"
4,2022,02 Aragón,Han teletrabajado,"4,6"
...,...,...,...,...
451,2021,Ceuta,Personas que no han trabajado,..
452,2021,Melilla,Personas que han teletrabajado,"6,7"
453,2021,Melilla,Personas que no han teletrabajado aunque su tr...,"10,1"
454,2021,Melilla,Personas que no han teletrabajado porque su tr...,"83,2"
455,2021,Melilla,Personas que no han trabajado,..

In [5]:
# Reemplazamos el punto por una cadena vacía para eliminar el separador de miles
población_teletrabajo_df['Total'] = población_teletrabajo_df['Total'].str.replace('.', '', regex=False)

# Reemplazamos la coma por un punto para que pandas pueda interpretarlo como decimal
población_teletrabajo_df['Total'] = población_teletrabajo_df['Total'].str.replace(',', '.', regex=False)

In [6]:
# Convertimos la columna a tipo numérico
población_teletrabajo_df['Total'] = pd.to_numeric(población_teletrabajo_df['Total'], errors='coerce')

In [7]:
# Quitar el texto hasta el primer espacio, pero solo si existe un espacio
población_teletrabajo_df['Comunidades y Ciudades Autónomas'] = población_teletrabajo_df['Comunidades y Ciudades Autónomas'].apply(
    lambda x: x.split(' ', 1)[1] if ' ' in x else x
)

In [8]:
población_teletrabajo_df

,Año,Comunidades y Ciudades Autónomas,Teletrabajo,Total
0,2022,Andalucía,Han teletrabajado,5.0
1,2022,Andalucía,No han teletrabajado aunque su trabajo les per...,9.5
2,2022,Andalucía,No han teletrabajado porque su trabajo no les ...,38.8
3,2022,Andalucía,No han trabajado,46.8
4,2022,Aragón,Han teletrabajado,4.6
...,...,...,...,...
451,2021,Ceuta,Personas que no han trabajado,NaN
452,2021,Melilla,Personas que han teletrabajado,6.7
453,2021,Melilla,Personas que no han teletrabajado aunque su tr...,10.1
454,2021,Melilla,Personas que no han teletrabajado porque su tr...,83.2
455,2021,Melilla,Personas que no han trabajado,NaN

In [9]:
# Muestra los tipos de datos de cada columna
print(población_teletrabajo_df.dtypes)

Año                                   int64
Comunidades y Ciudades Autónomas     object
Teletrabajo                          object
Total                               float64
dtype: object

In [10]:
# Elimina filas donde 'Total' tenga NaN
población_teletrabajo_df = población_teletrabajo_df.dropna(subset=['Total'])

In [11]:
print(población_teletrabajo_df['Comunidades y Ciudades Autónomas'].unique())

['Andalucía' 'Aragón' 'Asturias, Principado de' 'Balears, Illes'
 'Canarias' 'Cantabria' 'Castilla y León' 'Castilla - La Mancha'
 'Cataluña' 'Comunitat Valenciana' 'Extremadura' 'Galicia'
 'Madrid, Comunidad de' 'Murcia, Región de' 'Navarra, Comunidad Foral de'
 'País Vasco' 'Rioja, La' 'Ceuta' 'Melilla' 'Principado de' 'Illes'
 'y León' 'Mancha' 'Valenciana' 'Comunidad de' 'Región de'
 'Comunidad Foral de' 'Vasco' 'La']

In [12]:
print(población_teletrabajo_df['Teletrabajo'].unique())

['Han teletrabajado'
 'No han teletrabajado aunque su trabajo les permitiría teletrabajar'
 'No han teletrabajado porque su trabajo no les permitiría teletrabajar'
 'No han trabajado' 'Personas que han teletrabajado'
 'Personas que no han teletrabajado aunque su trabajo les permitiría teletrabajar'
 'Personas que no han teletrabajado porque su trabajo no les permitiría teletrabajar'
 'Personas que no han trabajado']