In [1]:
# Importamos pandas y numpy
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats

In [2]:
#Expecificamos ruta

url = r'Salarios_Empleado.csv'

In [3]:
salarios_df = pd.read_csv(url, sep=';', encoding='latin-1')

In [4]:
#Imprimimos el df

salarios_df

,Comunidades y Ciudades Autónomas,Sectores de actividad,Tipo de indicador,Componentes del coste,Periodo,Total
0,01 Andalucía,Industria,Valor absoluto,Sueldos y salarios,2023,"25.915,32"
1,01 Andalucía,Industria,Valor absoluto,Sueldos y salarios,2022,"25.069,75"
2,01 Andalucía,Industria,Valor absoluto,Sueldos y salarios,2021,"23.746,67"
3,01 Andalucía,Industria,Valor absoluto,Sueldos y salarios,2020,"22.426,66"
4,01 Andalucía,Industria,Valor absoluto,Sueldos y salarios,2019,"23.548,70"
...,...,...,...,...,...,...
301,"17 Rioja, La",Servicios,Valor absoluto,Sueldos y salarios,2022,"21.843,20"
302,"17 Rioja, La",Servicios,Valor absoluto,Sueldos y salarios,2021,"20.492,86"
303,"17 Rioja, La",Servicios,Valor absoluto,Sueldos y salarios,2020,"19.531,01"
304,"17 Rioja, La",Servicios,Valor absoluto,Sueldos y salarios,2019,"20.046,38"
305,"17 Rioja, La",Servicios,Valor absoluto,Sueldos y salarios,2018,"19.405,68"

In [5]:
#Renombrar columnas
salarios_df = salarios_df.rename(columns={'Comunidades y Ciudades Autónomas': 'Comunidades_Autonomas', 'Sectores de actividad': 'Sector', 'Componentes del coste': 'Tipo_Coste'})

In [6]:
#Eliminar columnas innecesarias
salarios_df = salarios_df.drop(columns=['Tipo de indicador'])

In [7]:
salarios_df['Comunidades_Autonomas'].unique()

array(['01 Andalucía', '02 Aragón', '03 Asturias, Principado de',
       '04 Balears, Illes', '05 Canarias', '06 Cantabria',
       '07 Castilla y León', '08 Castilla - La Mancha', '09 Cataluña',
       '10 Comunitat Valenciana', '11 Extremadura', '12 Galicia',
       '13 Madrid, Comunidad de', '14 Murcia, Región de',
       '15 Navarra, Comunidad Foral de', '16 País Vasco', '17 Rioja, La'],
      dtype=object)

In [8]:
# Quitamos el número en las comunidades 
# Eliminar los dos dígitos y el espacio al inicio de cada valor en la columna
salarios_df['Comunidades_Autonomas'] = salarios_df['Comunidades_Autonomas'].str.replace(r'^\d{2} ', '', regex=True)
salarios_df

    Comunidades_Autonomas     Sector          Tipo_Coste  Periodo      Total
0               Andalucía  Industria  Sueldos y salarios     2023  25.915,32
1               Andalucía  Industria  Sueldos y salarios     2022  25.069,75
2               Andalucía  Industria  Sueldos y salarios     2021  23.746,67
3               Andalucía  Industria  Sueldos y salarios     2020  22.426,66
4               Andalucía  Industria  Sueldos y salarios     2019  23.548,70
..                    ...        ...                 ...      ...        ...
301             Rioja, La  Servicios  Sueldos y salarios     2022  21.843,20
302             Rioja, La  Servicios  Sueldos y salarios     2021  20.492,86
303             Rioja, La  Servicios  Sueldos y salarios     2020  19.531,01
304             Rioja, La  Servicios  Sueldos y salarios     2019  20.046,38
305             Rioja, La  Servicios  Sueldos y salarios     2018  19.405,68

[306 rows x 5 columns]

In [9]:
# Muestra los tipos de datos de cada columna
print(salarios_df.dtypes)

Comunidades_Autonomas    object
Sector                   object
Tipo_Coste               object
Periodo                   int64
Total                    object
dtype: object

In [10]:
# Convertimos la columna a tipo numérico
salarios_df['Total'] = pd.to_numeric(salarios_df['Total'], errors='coerce')

# Verificamos el resultado
print(salarios_df['Total'].head())

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: Total, dtype: float64

In [11]:
print(salarios_df.head())

  Comunidades_Autonomas     Sector          Tipo_Coste  Periodo  Total
0             Andalucía  Industria  Sueldos y salarios     2023    NaN
1             Andalucía  Industria  Sueldos y salarios     2022    NaN
2             Andalucía  Industria  Sueldos y salarios     2021    NaN
3             Andalucía  Industria  Sueldos y salarios     2020    NaN
4             Andalucía  Industria  Sueldos y salarios     2019    NaN

In [12]:
# Contar las filas duplicadas
duplicados = salarios_df.duplicated().sum()
print(f"Número de filas duplicadas: {duplicados}")

Número de filas duplicadas: 0

In [13]:
# Contar los valores nulos en cada columna
nulos = salarios_df.isnull().sum()
print("Número de valores nulos en cada columna:")
print(nulos)

Número de valores nulos en cada columna:
Comunidades_Autonomas      0
Sector                     0
Tipo_Coste                 0
Periodo                    0
Total                    306
dtype: int64

In [14]:
salarios_df.to_csv(r'C:\Users\Andre\OneDrive\Documents\GitHub\Group-7\Group-7\Salarios_Limpio.csv', index=False, encoding='utf-8')